/* ==================================================================
    Colours
================================================================== */

$primary-color: #212121;
$primary-variant: #343434;
$primary-highlight: #252526;

$tabs-color: #3c3c3c;
$explorer-color: #2e2e2e;

$text-unselected: #aaa;
$text-hovered: #ccc;

$error: #ff4d2d;
$medium-priority: orange;
$success: limegreen;

/* ==================================================================
    Fonts
================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Roboto:wght@100;300;400&display=swap');

$logo-font: 'Oleo Script', cursive;
$roboto-font: 'Roboto', sans-serif;