#content {
    display: flex;
    flex: 1;
}

#project-explorer {
    display: flex;
    flex-direction: column;
    width: 15%;
    min-width: 200px;
    height: 100%;
    background-color: $primary-highlight;
}

#notes-explorer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.tabs-container {
    display: flex;
    height: 3%;
    min-height: 30px;
    width: 100%;

    background-color: $primary-highlight;
}