#notes-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;

    padding-left: 20px;
    padding-right: 20px;
}

.notes-container {
    textarea {
        width: 80%;
        height: 20vh;
        border-radius: 5px;
        border: none;
        padding: 10px;
        color: whitesmoke;

        text-align: start;
        resize: none;

        background-color: #666;
    }
}

.checklist-container {
    flex: 1;

    padding: 0px;

    .list-header {
        display: flex;
        align-items: center;
        gap: 10px;

        .fa-plus:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }

    ul {
        max-height: 400px;
        width: 80%;
        overflow-y: auto;
        overflow-x: hidden;

        margin: 0;
        padding: 0;
        border-radius: 5px;

        list-style-type: none;

        background-color: #414141;

        li {
            display: flex;

            padding: 10px;
            border-radius: 2px;
            border-bottom: 1px solid #393939;

            &:hover {
                cursor: pointer;
                background-color: #515151;
            }

            &.checked {
                & > span {
                    text-decoration: line-through;
                }
                
                color: $success;
            }

            &.unchecked {
                color: $error;
            }

            i {
                margin-right: 10px;
            }

            .fa-times {
                color: whitesmoke;

                &:hover {
                    transform: scale(1.2);
                }
            }

            @extend %noselect;
        }
    }
}

#notes-details {
    display: flex;
    flex-direction: column;
    width: 20%;

    padding-left: 20px;
    padding-right: 20px;

    border-left: 1px solid #222;

    .due-date {
        background-color: #444;
        color: whitesmoke;
        border: 1px solid #555;
    }
}

#priority-selection {
    display: flex;
    gap: 10px;
    button {
        border-radius: 50%;
        width: 25px;
        height: 25px;

        border: none;
        background-color: yellow;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }

        &.priority-high {
            background-color: $error;
        }

        .priority-medium {
            background-color: yellow;
        }

        &.priority-low {
            background-color: $success;
        }
    }
}

#priority-title {
    display: flex;
    align-items: center;
    gap: 10px;
    
    .priority-high {
        color: $error;
    }

    .priority-medium {
        color: #f8f86c;
    }

    .priority-low {
        color: $success;
    }
}