.project-title {
    display:flex;
    align-items: center;
    min-height: 30px;
    padding-left: 20px;

    background-color: $explorer-color;

    color: whitesmoke;

    i {
        margin-right: 10px;
    }

    @extend %selection;
    @extend %noselect;
}

.list-container {
    width: 100%;

    transition: all 0.5s ease;

    background-color: $primary-highlight;

    &:hover {
        height: 200px;
    }

    &.opened {
        height: 200px;
    }

    &.closed {
        height: 0px;
    }
}